
dotenv==0.9.9
mysql-connector-python==9.4.0
narwhals==2.3.0
numpy==2.2.6
packaging==25.0
pandas==2.3.2
pillow==11.3.0
plotly==6.3.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.1.1
streamlit==1.49.1
streamlit-aggrid==1.1.8.post1
streamlit-option-menu==0.4.0
tenacity==9.1.2
toml==0.10.2

